*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
}
.product{
    border: 2px solid black;
    padding: 10px;
    margin: 40px 10px;
    position: relative; /* позиционирование относительно продукта */
}

.product.new::after{
    content: "NEW";
    position: absolute; /* чтобы сдвигать */
    padding: 10px;
    background-color: brown;
    color: white;
    top: 0;
    right: 0;
    transform: translate(50%, -50%); /* сдвигаю на полкорпуса ввверх и полкорпуса вправо */
}

.product.info::after{
    content: "info";
    position: absolute; /* чтобы сдвигать */
    padding: 10px;
    background-color: darkblue;
    color: white;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); /* сдвигаю на полкорпуса ввверх и полкорпуса вправо */
}

.hidden_image{
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 15px black;
    position: relative;
    margin: 300px;
    border-radius: 10px;
    overflow: hidden; /* скрывает элементы выходящие за родительский */
}
.hidden_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.hidden_image::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: transform 1.5s; */
    background-color: #05445E;
    transform: width, height;
    transition-duration: 2s;

}
.hidden_image:hover::after{ /* сделали анимаци псевдоэлементу */
    /* transform: translate(-100%, -100%); */
    width: 0;
    height: 0;
} 

/* +++++++++++++++++++++++++=============================+++++++++++++++++++++++++ */

.field input{
    width: 100px;
    height: 100px;
    display: none;
}

.field label{
    display: block; /* переводит объект в блоковый объект */
    width: 80px;
    height: 50px;
   /*  border: 2px solid black; */
    border-radius: 25px;
    background-color: #dddddd;
    transition: background-color 0.5s;
    position: relative;  /* позиционирование относительно продукта */
}

.field label::after{
    content: "";
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transition: left 0.5s;
    left: 4px;
    top: 4px;
    
}
.field input:checked+label{
    background-color: #6fde5f
}

.field input:checked+label::after{
    left: 34px;
}

 /* ссылка на лейб который едет посте чекбокса */
/*     background-color: darkred;  *//* цвет меняется в зависимости от состояния check-box(нажат не нажат) */

/* нажимаем на лейб, тот дает сигнал чекбоксу поставить галочку, чекбокс возвращает лейблу команду поменять цвет */

